<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Admin page</title>
</head>
<body>
    <p th:if="${message != null}" th:text="${message}"></p>
    <h2>Reservations</h2>
    <table>
        <tr>
            <th>Car name</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Cost</th>
        </tr>
        <tr th:each="reservation: ${reservations}">
            <td th:text="${reservation.car.name}"></td>
            <td th:text="${reservation.name}"></td>
            <td th:text="${reservation.email}"></td>
            <td th:text="${reservation.address}"></td>
            <td th:text="${reservation.phoneNum}"></td>
            <td th:text="${reservation.startDate}"></td>
            <td th:text="${reservation.endDate}"></td>
            <td th:text="${reservation.cost}"></td>
        </tr>
    </table>

    <h2>Cars</h2>
    <a th:href="@{/cars/create}">
        <button>New car</button>
    </a>
    <table>
        <tr>
            <th>Name</th>
            <th>Daily cost</th>
            <th>Active</th>
            <th>Update</th>
        </tr>
        <tr th:each="car: ${cars}">
            <td th:text="${car.name}"></td>
            <td th:text="${car.dailyCost}"></td>
            <td th:text="${car.active ? 'Active' : 'Not active'}"></td>
            <td>
                <a th:href="@{/cars/{id}/edit(id=${car.id})}">
                    <button>Update</button>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>